@model IEnumerable<_01_DAL.LinhaDeFatura>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista das Linhas de Fatura</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdFaturas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtos.NomeProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeLinha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecoLinha)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdFaturas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produtos.NomeProduto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeLinha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecoLinha)
            </td>

            <td class="btn-group">
                <div class="btn btn-primary">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </div>
                <div class="btn btn-primary">
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </div>
                <div class="btn btn-primary">
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
<div class="btn btn-primary">

    <a asp-action="Create">Create New</a>

</div>
