@model _01_DAL.Empregado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do empregado</h1>

<div>
  
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeEmpregado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeEmpregado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroEmpregado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroEmpregado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmpregado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmpregado)
        </dd>
    </dl>
</div>
<div class="btn btn-primary">
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
